

<h1>Enter your answer:  </h1>


<div class="answer-box">
<%= @query %>
<p> -You </p>


<%= @answer %>
<p> -The Coach </p>



<%= link_to "Ask a different question", "/questions/ask" %>
</div>


<!-- er tab -->
<!-- pe tab -->




<!-- Add a link to /ask on the answer.html.erb view using the link_to Rails helper.
 -->
