<h1>Ask a question to your coach: </h1>

<div class="display">
<form class="input-form" action="/answer" >
  <input type="text" name="responce">
  <input type="submit" value="Ask!">
</form>


</div>

<!-- er tab -->
<!-- pe tab -->

